## Importing Required Libraries

In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

## Loading the Dataset

In [2]:
# Load the dataset
data = pd.read_csv("vgsales.csv")

## Preprocessing 

* Filtering the values
* Aggregation of sales

In [3]:
# Preprocessing the dataset

# Filtering out specific values
data = data[data["Platform"].isin(["PS3", "X360", "PC", "Wii"])]
data = data[data["Genre"].isin(["Action", "Shooter", "Racing"])]
data = data[data['Year'] > 2005]

# Aggregating based on Year, Platform, Genre and Summing them up
# This is done because the original dataset consists of individual games, 
# but the analysis sticks with only Platform and Genre
data = data.groupby(["Year", "Platform", "Genre"], group_keys=False).agg(
    {"Global_Sales": "sum"}
)
data = data.reset_index()

## Sample Data

In [4]:
data.sample(10)

       Year Platform    Genre  Global_Sales
91   2013.0     X360   Racing          1.52
64   2011.0      PS3   Racing          6.66
38   2009.0       PC  Shooter          2.06
32   2008.0      Wii  Shooter          5.46
98   2014.0      PS3  Shooter         10.34
36   2009.0       PC   Action          0.90
2    2006.0       PC  Shooter          0.09
104  2015.0       PC   Racing          0.19
78   2012.0      Wii   Action          8.41
82   2012.0     X360  Shooter         37.50

In [5]:
print("Platforms : ", ", ".join(data['Platform'].unique().tolist()))
print("Genre : ", ", ".join(data['Genre'].unique().tolist()))

Platforms :  PC, PS3, Wii, X360
Genre :  Action, Racing, Shooter

## ANOVA Testing

In [7]:
# Two-way ANOVA for Genre and Platform
genre_platform_anova = ols(
    "Global_Sales ~ C(Platform) + C(Genre) + C(Platform):C(Genre)",
    data=data,
).fit()
# print(genre_platform_anova.summary())
anova_table = sm.stats.anova_lm(genre_platform_anova, typ=1)
print(anova_table)

                         df        sum_sq      mean_sq          F  \
C(Platform)             3.0   5969.652877  1989.884292  16.717588
C(Genre)                2.0   2319.852755  1159.926378   9.744874
C(Platform):C(Genre)    6.0   2090.561755   348.426959   2.927235
Residual              108.0  12855.174249   119.029391        NaN

                            PR(>F)
C(Platform)           5.435790e-09
C(Genre)              1.285934e-04
C(Platform):C(Genre)  1.100418e-02
Residual                       NaN